@inject Dental.Data.IAuthenticate Authenticate

@{
    string e = null;
    string r = null;

    if (Context.Request.Cookies["Token"] != null)
    {
        string token = Context.Request.Cookies["Token"].ToString();
        e = Authenticate.ValidateEmailJwtToken(token).ToString();
        r = Authenticate.ValidateRoleJwtToken(token).ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                        </li>
                    </ul>

                    @if (e != null)
                    {
                        if (r == "Dentist")
                        {
                            <p class="nav-link text-dark">Hello, <a asp-controller="Dentists" asp-action="Details">@e</a></p>

                        }
                        if (r == "Patient")
                        {
                            <p class="nav-link text-dark">Hello, <a asp-controller="Patients" asp-action="Details">@e</a></p>
                        }
                        
                        <a class="nav-link text-dark bg-info btn" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="LogD">Login Dentist</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Log">Login</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Reg">Register</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (r == "Patient")
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Schedules</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Interventions" asp-action="IndexP">Medical Record</a>

                }
                @if (r == "Dentist")
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="IndexD">Schedules</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Interventions" asp-action="Index">Interventions</a>

                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
