@model IEnumerable<Dental.Models.Intervention>
@inject Dental.Data.IDentistRepo IDentist
@inject Dental.Data.IMedicalRecordRepo IMedicalRecord
@inject Dental.Data.IAuthenticate Authenticate
@{
    ViewData["Title"] = "Index";

}

@{ 
    string token = Context.Request.Cookies["Token"].ToString();
    string id = Authenticate.ValidateIdJwtToken(token);
    int idd = int.Parse(id);
    var mr = IMedicalRecord.GetMedicalRecordbyPatientId(idd);
}

<h4>
    Medical record number -
   
        @mr.MedicalRecordNumber
    
</h4>
<h1>Intervention</h1> 


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Dentist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{string fullName = IDentist.GetDentistFullNamebyId(item.DentistId); }
                @fullName
            </td>

        </tr>
}
    </tbody>
</table>
